body {
  margin: 0px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
}
.split {
  width: 50%;
  height: 100%;
  top: 0px;
  overflow: hidden;
}
h1 {
  font-size: 100px;
  color: aliceblue;
  backdrop-filter: brightness(0.7);
}
.btn {
  background-color: black;
  color: white;
  padding: 20px 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s background-Color;
  white-space: nowrap;
  outline: none;
  position: absolute;
  bottom: 20px;
}
.btn:hover {
  background-color: white;
  color: black;
}
.split.left {
  position: absolute;
  left: 0px;
  background-image: url(https://images.unsplash.com/photo-1627829111744-51cd3e4a1081?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
.split.right {
  position: absolute;
  right: 0px;
  background-color: lightblue;
  background-image: url(https://images.unsplash.com/photo-1595278255669-a875c1a75956?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
.activeLeft .left {
  width: 75%;
  /* transition: width 1.5s linear; */
}
.activeLeft .right {
  width: 25%;
  /* transition: width 1.5s linear; */
}
.activeRight .right {
  width: 75%;
  /* transition: width 1.5s linear; */
}
.activeRight .left {
  width: 25%;
  /* transition: width 1.5s linear; */
}
.right,
.left {
  transition: width 1.5s ease-in-out;
}
